$green-bg:linear-gradient(270deg, #335E14 0%, rgba(51, 94, 20, 0.79) 100%);
$green-bg-middle:linear-gradient(309.62deg, #48702B 5.64%, rgba(72, 112, 43, 0.65) 102.63%);
$light-green-bg:linear-gradient(270deg, #E5F8D9 0%, rgba(244, 255, 236, 0.79) 100%);
$green-color: #4F7435;
$light-green-color: #7EC74B;



$box-shadow: -4px -4px 6px rgba(210, 225, 199, 0.25),
4px 4px 8px rgba(48, 83, 23, 0.81);

$box-shadow-inset: inset -4px -4px 6px rgba(210, 225, 199, 0.25),
inset 4px 4px 8px rgba(48, 83, 23, 0.81);

$oswald: 'Oswald';