footer {
    padding: 50px 0 40px !important;
    font-family: $oswald;

    h4.foot-title {
        font-family: $oswald;
        font-size: 36px;
        line-height: 103.9%;
        letter-spacing: -0.015em;
        color: #65B32E;
        margin-bottom: 30px;
        padding: 0;
    }

    .foot-wrap {
        display: flex;
        flex-direction: column;


        .top-foot {
            position: relative;

            .foot-logo {
                position: relative;
            }
        }

        .top-foot:after {
            content: '';
            display: inline-block;
            width: calc(100% - 205px);
            height: 1px;
            background: #65B32E;
            position: absolute;
            right: 0;
            bottom: 5px;
        }


        .middle-foot {
            margin-top: 55px;

            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &__left {
                ul {
                    column-count: 2;
                }
            }

            &__right {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .bottom-foot {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            align-items: flex-end;

            .foot-tel {
                font-weight: bold;
                font-size: 36px;
                line-height: 103.9%;
                letter-spacing: -0.015em;
                margin-right: 30px;
            }

            .foot-tel:hover {
                text-decoration: none;
            }

            .foot-address {
                font-size: 14px;
                line-height: 103.9%;
                letter-spacing: -0.015em;
                display: flex;
                flex-direction: column;
                font-family: $oswald;
                margin-bottom: 0;
                margin-right: 60px;
            }

            .foot-mail {
                line-height: 1;
                font-size: 14px;
                line-height: 103.9%;
                letter-spacing: -0.015em;
                color: #000;
                margin-right: 135px;
            }
        }
    }

    ul {
        padding-left: 20px;

        li {

            margin-bottom: 10px;

            position: relative;
            padding-left: 10px;

            a {
                color: #000;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: -0.015em;
            }
        }

        li:before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: -18px;
            top: 8px !important;
            background: linear-gradient(132.01deg, #E6F4DD 18.75%, #D7ECC8 87.5%);
        }
    }
}